# SET

In [ ]:
1) unordered & unindexed collection of items
2)set elements are unique.
3)No duplication allowed
4)set elemets are immutable(not changeable)
5)whole set itself is mutable, we can add & remove items from it.

In [2]:
myset={1,2,3,4,5} # set of numbers 
myset

{1, 2, 3, 4, 5}

# SET CREATION

In [17]:
myset={1,2,3,4,5} ## set of integers
myset

{1, 2, 3, 4, 5}

In [7]:
len(myset)

5

In [9]:
myset={1,1,2,2,3,4,5} ## Duplication not allowed 
myset

{1, 2, 3, 4, 5}

In [11]:
myset

{1, 2, 3, 4, 5}

In [15]:
myset1={10.22,11.45,16.75,18.99,9.5,6.7} # set of float numbers 
myset1

{6.7, 9.5, 10.22, 11.45, 16.75, 18.99}

In [19]:
myset2={'Sai','ram','avi'}  # set of strings

In [21]:
myset2

{'Sai', 'avi', 'ram'}

In [25]:
myset3={10, 6.5, 'govind', (11,22,32)}   #mixed datatypes
myset3

{(11, 22, 32), 10, 6.5, 'govind'}

In [27]:
myset4={10,6.5,'one',[22,33,44]} ## set doesnt allow mutable items like lists
myset4

TypeError: unhashable type: 'list'

In [31]:
myset5=set() #creates an empty set.
myset5

set()

In [35]:
type(myset5)

set

In [39]:
myset6=set(('one','two','three','four')) ## rewrites elements in alphabet wise.
myset6

{'four', 'one', 'three', 'two'}

## LOOP THROUGH A SET

In [42]:
myset7 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [44]:
myset7

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [48]:
for i in myset7:   ## elements in set are unordered, it prints each time in a random order,
    print(i)

three
six
eight
two
seven
one
five
four

In [52]:
for i in sorted(myset7):  ## print elements alphabetically wise.
    print(i)

eight
five
four
one
seven
six
three
two

In [54]:
for i in sorted(myset7,reverse=True):
    print(i)

two
three
six
seven
one
four
five
eight

# SET MEMBERSHIP

In [57]:
myset7

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [59]:
'one' in myset7 # checks if one exits in set

True

In [61]:
'eleven' in myset7

False

In [67]:
if 'three' in myset7:
    print('three is present in myset7')

three is present in myset7

In [75]:
if 'eleven' in myset7:
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# ADD & REMOVE ITEMS

In [80]:
myset7

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [82]:
myset7.add('nine') ## add item to a set using () method

In [84]:
myset7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [98]:
myset7.update(['TEN','ELEVEN','TWELVE'])

In [100]:
myset7

{'ELEVEN',
 'TEN',
 'TWELVE',
 'e',
 'eight',
 'eleven',
 'five',
 'four',
 'l',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'ten',
 'three',
 'twelve',
 'two',
 'v',
 'w'}

In [104]:
myset7.remove('nine')

In [106]:
myset7

{'ELEVEN',
 'TEN',
 'TWELVE',
 'e',
 'eight',
 'eleven',
 'five',
 'four',
 'l',
 'n',
 'one',
 'seven',
 'six',
 't',
 'ten',
 'three',
 'twelve',
 'two',
 'v',
 'w'}

In [112]:
myset7.discard('TEN')

In [114]:
myset7

{'ELEVEN',
 'TWELVE',
 'e',
 'eight',
 'eleven',
 'five',
 'four',
 'l',
 'n',
 'one',
 'seven',
 'six',
 't',
 'ten',
 'three',
 'twelve',
 'two',
 'v',
 'w'}

In [116]:
myset7.clear()

In [118]:
myset7

set()

In [120]:
del myset7

In [122]:
myset7

NameError: name 'myset7' is not defined

# COPY ITEMS

In [131]:
myset={'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [133]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [135]:
myset1=myset  # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [137]:
my_set=myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [141]:
id(my_set),id(myset1),id(myset) # The address of both myset & myset1 will be the same

(5375814432, 5375815552, 5375815552)

In [143]:
myset.add('nine')

In [145]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [147]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [149]:
my_set # # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# set operation

# UNION

In [152]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [154]:
A | B #union of A & B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [156]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [158]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [162]:
A.update(B,C)

In [164]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# INTERSECTION

In [172]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [174]:
A & B

{4, 5}

In [176]:
B & C

{8}

In [178]:
A.intersection(B)

{4, 5}

In [188]:
A.intersection_update(B)

In [191]:
A

set()

# Difference

In [194]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [198]:
A-B

{1, 2, 3}

In [200]:
A.difference(B)

{1, 2, 3}

In [202]:
B-A

{6, 7, 8}

In [204]:
B.difference(A)

{6, 7, 8}

In [206]:
B.difference_update(A)

In [208]:
B

{6, 7, 8}

# symmetric difference

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [213]:
A^B # Symmetric difference (Set of elements in A and B but not in both

{1, 2, 3, 4, 5, 6, 7, 8}

In [217]:
A.symmetric_difference(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [219]:
A.symmetric_difference_update(B)

In [221]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

# Subset, Superset, Disjoint

In [251]:
A={1,2,3,4,5,6,7,8,9,10}
B={4,5,6,7,8}
C={8,9,10}
D={11,12,13}

In [235]:
B.issubset(A)

True

In [239]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B and other elements.

True

In [241]:
# disjoint set means no common elements.

In [247]:
A.isdisjoint(C)

False

In [253]:
C.isdisjoint(D)

True

# OTHER BUILTIN FUNCTIONS

In [256]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [260]:
sum(A) # sum is small letters will be valid, not in capital

55

In [262]:
max(A)

10

In [264]:
min(A)

1

In [266]:
len(A)

10

In [268]:
list(enumerate(A))

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]